<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="public e" stopProcessing="true">
                    <match url="^public" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="captcha" stopProcessing="true">
                    <match url="CFFileServlet/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="colddoc" stopProcessing="true">
                    <match url="colddoc/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="cfide" stopProcessing="true">
                    <match url="CFIDE/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Index Route" stopProcessing="true">
                    <match url="^(\/?[0-9A-Za-z]*)*((\.json)+|(\.mvc)+|(\.html)+|)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/index.cfm/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
